---
---

@import "{{ site.theme }}";

body
{
  background: #dddddd;
  font-family: Arial;
}

h1
{
  color: #c21807;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

#lateral
{
  position: fixed;
  height: 100%;
  width: 20%;
  padding-top: 10%;
  text-align: center;
  background: #dddddd;
}

#linkslaterais a:link, a:visited
{
  display: block;
  font-weight: bold;
  background: #c21807;
  color: #222222;
  text-decoration: none;
  padding: 5px;
  transition: 0.5s;
}

#linkslaterais a:hover, a:active
{
  display: block;
  font-weight: bold;
  background: #222222;
  color: #c21807;
  text-decoration: underline;
  padding: 5px;
  transition: 0.5s;
}

#cabecalho p
{
  font-size: 20px;
  font: #444444;
  text-align: center;
}

#navegacao
{
  text-align: center;
}

#navegacao table
{
  font-size: 25px;
}

#navegacao a:link
{
  background: #c21807;
  color: #cccccc;
  font-weight: bold;
}

#navegacao a:visited
{
  background: #c21807;
  color: #cccccc;
  font-weight: bold;
}

#navegacao a:hover
{
  background: #000000;
  color: #c21807;
}
