---
---

@import "{{ site.theme }}";

body
{
  background: #dddddd;
  font-family: Arial;
}

header
{
  text-align: center;
}

h1
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

h1 a.link
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

h1 a.visited
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

h1 a.hover
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

header p
{
  font-size: 20px;
  font: #444444;
}
