---
---

@import "{{ site.theme }}";

body
{
  background: #dddddd;
  font-family: Arial;
}

h1
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

#cabecalho a.link
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

#cabecalho a.visited
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

#cabecalho a.hover
{
  font: #c21807;
  font-weight: bold;
  text-align: center;
}

#cabecalho p
{
  font-size: 20px;
  font: #444444;
  text-align: center;
}

#navegacao table
{
  font-size: 25px;
}

#navegacao td
{
  text-align: center;
  padding: 5px;
}

#navegacao a.link
{
  background: #c21807;
  color: #cccccc;
  font-weight: bold;
}
